%h1 New comment

= render 'form'

= link_to 'Back', comments_path

%section.section.comments
  .container
    .comment-form
      %hr/
      = render 'comments/form'

  %hr/  
  .container
    %strong Last comments:
  %table.table-bordered.table-comments
    %thead
      %tr
        %th Author
        %th Body
        %th{:colspan => "2"}
