%h1= @movie.title
.jumbotron
  %table.table.table-striped
    %tbody
    %tr 
      %td
        %img.img-rounded{ src: @movie.cover, style: 'max-width:150px' }
      %td
        = @movie.download_info['rating']
      %td
      %td
        = @movie.description
        %td
    - if user_signed_in?
      %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
