.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Welcome to Pairguru App!
    %p.lead.text-center Place where we examine our candidates
    %p= link_to "First version of API", 'http://localhost:3000/movies_apis.json'
    %p= link_to "Second Version of API:", 'http://localhost:3000/movies_apis.json?details=1'
    %p= link_to 'Top 10 commentators last week!', topcommentators_path, class: 'btn btn-sm btn-default'

